table { border-collapse: collapse; }
tbody td, thead th { 
	padding: .3em;
	border: 1px #999999 solid; 
} 

.no_border table { border-collapse: collapse; }
.no_border td, th { padding: .3em; border: 0px black solid; font-size:16px; text-align: center; } 

#report_content { margin-left: 30px; }
#export_content { margin-left: 20px; }

th.test-history-range,
td.test-history-range{
  min-width: 300px;
}
td.test-history-range{
  font-size: 0.9em;
}
  td.test-history-range span{
    font-weight:bold;
    display:inline-block;
    min-width: 50px;
  }

#report_content_table5 thead th,
#report_content_table4 thead th {
	color: #363636;
	font-size: 0.9em;
}
#report_content_table5 thead th:hover,
#report_content_table4 thead th:hover {
	cursor: pointer;
}
td.reports-specimen-daily-results {
	min-width: 280px;
}
	td.reports-specimen-daily-results span {
		font-weight: bold;
		font-size: 0.9em;
		color: #363636;
	}
td.reports-specimen-daily-remarks {
	max-width: 300px;
}

.reports-testcount-grouped{
	border-collapse: collapse;
}
	.reports-testcount-grouped thead th{
		font-size: 0.9em;
		color: #363636;
	}
	.reports-testcount-grouped thead th.ranges{
		min-width: 60px;
		padding-left: 2px;
		padding-right: 2px;
	}
	.reports-testcount-grouped tbody tr.range-data td{
		text-align: center;
	}
	.reports-testcount-grouped tbody tr.range-data td.left{
		text-align: left;
		min-width: 180px;
	}
	.reports-testcount-grouped tbody tr.range-data td.right {
		text-align: right;
	}
