/*===================*/
/*=== Main Styles ===*/
/*===================*/
.slider-wrapper { 
	width: 98%; 
	margin: 5px auto;
}

/*====================*/
/*=== Other Styles ===*/
/*====================*/
.clear {
	clear:both;
}